<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-11-03T05:24:38Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/WorkStuff/ObjectCFactory/libusb360/libusb360.xcodeproj</string>
</dict>
</plist>
